/* You can add global styles to this file, and also import other style files */
.navbar{
  color : white;
}

body{
  position: relative;
}

app-root{
  padding: 10px;
  position: fixed;
  top : 50px;
  width: 100%;
}
